.header_box {
    text-align: center;
}

.nav_links {
    font-size: 25px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.nav_img {
    text-align: center;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.article_box {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
}

.footer_box {
    font-size: 25px;
}